<div id="about-container">
    <h3>关于</h3>
    <p class="text-content">&#9;近年来各种网络和电话诈骗集团通过使用个人信息对指定对象进行财产或人身损害，造成严重的社会影响。这些个人信息往往由于信息所有者对个人隐私的忽视而被泄露，在网络环境中存在大量和公民相关的公开数据，这其中不乏个人隐私信息。今年8月皖赣等部分政府网站泄露公民隐私信息得到了人们的广泛关注；12月5日，人社部、财政部两部委办公厅下发《关于在就业补助资金使用信息公开中进一步加强个人信息保护的通知》，其中指出个别地区在就业补助资金使用信息公开中，由于专业性、规范性不足，存在享受补贴人员个人信息和隐私泄露的隐患；近期部分省份也将开展学生资助公示信息排查清理工作，受助学生信息公示时，不得公布学生身份证件号码、家庭住址、电话号码等个人敏感信息，从而切实保护受助学生的个人信息和隐私。</p>
    <p class="text-content">&#9;数据在收集后和用于分析前，应当经过一定的方法检测其是否含有敏感数据和隐私数据，只有符合规定的数据才能被使用，以减少个人信息泄露的可能性。为了达到这个目的，本实验提出了一种用于检测数据内容的模型，通过对数据中的隐私信息进行快速匹配，生成相关报告，从而显示数据中包含的隐私信息种类及数量，并给出准确的定位，从而提醒数据收集者或数据分析者使用的数据可能携带隐私信息，应当及时进行处理。</p>
    <p></p>
    <p class="text-content"><a href="http://crypto.fudan.edu.cn/people/weili/">复旦大学数据分析与安全实验室</a></p>
    <div style="float: right;">
        <a class="back-button" href="#main">&lt;&lt;返回&lt;&lt;</a>
    </div>
</div>