<div id="law-container">
    <h3>法律</h3>
    <p class="text-content">大数据资源被广泛应用于企业业务和科学研究等领域，数据量的庞大和多样易造成人们对隐私信息的忽视，它们往往包含合法公民的个人信息，一旦信息泄露，将会对人身或财产造成不必要的损害。国家制定相关法律来约束收集个人信息的企业或部门
        <a href="http://www.sohu.com/a/203902011_500652">《中华人民共和国个人信息保护法（草案）》</a>、
        <a href="https://baike.baidu.com/item/%E4%B8%AD%E5%8D%8E%E4%BA%BA%E6%B0%91%E5%85%B1%E5%92%8C%E5%9B%BD%E7%BD%91%E7%BB%9C%E5%AE%89%E5%85%A8%E6%B3%95/16843044?fr=aladdin&fromid=12291792&fromtitle=%E7%BD%91%E7%BB%9C%E5%AE%89%E5%85%A8%E6%B3%95#1">《中华人民共和国网络安全法》</a>
        指出，个人信息是“以电子或者其他方式记录的能够单独或者与其他信息结合识别自然人个人身份的各种信息，包括但不限于自然人的姓名、出生日期、身份证件号码、个人生物识别信息、住址、电话号码等”。“… …不符合本法或其他法律、法规规定，或未经信息主体知情同意，不得收集个人信息。收集不需识别信息主体的个人信息，应当消除该信息的识别力，并不得恢复”。 由于数据量庞大，技术或是人工上的疏漏会造成对隐私数据的检测和保护不全面，从而泄露部分公民的隐私信息。</p>
    <div style="float: right;">
        <a class="back-button" href="#main">&lt;&lt;返回&lt;&lt;</a>
    </div>
</div>