<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 配置自动扫描的包
        除了applicationContext.xml之外，这里要重写一遍，主要是配置默认的servlet-->
    <context:component-scan base-package="com.lufi.services" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
    <mvc:resources mapping="lib/**" location="/WEB-INF/lib/"/>
    <mvc:resources mapping="/templates/**" location="/WEB-INF/templates/"/>

    <!-- 配置访问jsp -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 配置上传文件大小 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 默认注解映射的支持 -->
    <mvc:annotation-driven/>

    <!-- 将在 SpringMVC 上下文中定义一个 – DefaultServletHttpRequestHandler，它会对进入 DispatcherServlet
         的请求进行筛查，如果发现是没有经过映射的请求，就将该请求交由 WEB 应用服务器默认的 Servlet 处理，
         如果不是静态资源的请求，才由 DispatcherServlet继续处理
     -->
    <mvc:default-servlet-handler/>

    <!--这里单独扫描一遍controller-->
    <context:component-scan base-package="com.lufi.controllers" />
    
    <!-- 定时任务支持 -->
    <bean id="myTask" class="com.lufi.services.service.DeleteLogTask"/>
    <task:scheduled-tasks>
        <!--<task:scheduled ref="myTask" method="deleteLog" cron="0 */1 * * * *"/>-->
        <task:scheduled ref="myTask" method="deleteLog" cron="0 * * * * */1"/>
    </task:scheduled-tasks>

</beans>